.add_task_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: auto;
  /* box-shadow: rgb(157 157 157 / 20%) 0px 4px 10px; */
}

.add_task_container .add_task_heading h2 {
  color: #6674cc;
}

.add_task_container .add_task_data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  /* padding: 0 2rem; */
}

.add_task {
  width: 55vw;
  /* height: 50vh; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* padding: 2rem; */
  margin-bottom: 2rem;
  position: relative;
}

.add_task .portion {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.826);
}

.add_task .portion label {
  padding: 0.675rem 0;
}

.add_task .task_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.add_task .task_input .portion input,
.add_task .task_input .portion textarea,
.add_task .task_input .portion select,
.add_task .task_input .submit {
  width: 22rem;
  height: 2.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: rgba(157, 157, 157, 0.788) 0px 4px 10px;
}

.add_task .task_input textarea.description {
  height: 5rem;
}

.add_task .task_input .portion-4 option:hover,
.add_task .task_input .portion-4 option:focus,
.add_task .task_input .portion-4 option:active {
  background-color: #6674cc;
}

.add_task .task_input .submit {
  background-color: #6674cc;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.add_task_container .add_svg img {
  width: 35vw;
}

@media screen and (max-width: 850px) {
  .add_task_container {
    width: 90vw;
    box-shadow: rgb(157 157 157 / 20%) 0px 4px 10px;
  }
  .add_task_container .add_svg {
    display: none;
  }
  .add_task_container .add_task_data {
    justify-content: center;
    align-items: center;
  }
}
